.vscode/**
.vscode-test/**
out/**
node_modules/**
.pnpm-store/**
src/**
mimtproxy-release/**
pnpm-lock.yaml
pnpm-workspace.yaml
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/__pycache__/**
**/*.pyc
